<%= render 'shared/navbar' %>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4"> <%= @movie.name %> </h1>

      <div class="card mb-4">
        <div class="row">

          <div class="col-md-7">
            <div style="width: 50%; height: auto;">
              <img class="card-img-top img-thumbnail" src="<%= @movie.image.url %>" alt="Card image cap">
            </div>
          </div>

          <div class="col-md-5">
            <div class="card-body">
              <h2 class="card-title">Title</h2>
              <p class="card-text">Release date:
                <% if @movie.release_date.nil? %>
                  Not specified yet.
                <% else %>
                  <%= @movie.release_date.strftime('%Y-%m-%d') %>
                <% end %>
              </p>
              <p class="card-text">Awards:
                <% if @movie.awards.empty? %>
                  No Awards
                <% else %>
                  <%= @movie.awards.map(&:name).join(', ') %>
                <% end %>
              </p>
              <p class="card-text">Film Rating:
                <% if @movie.awards.empty? %>
                  No Film Rating
                <% else %>
                  <%= @movie.film_ratings.map(&:name).join(', ') %>
                <% end %>
              </p>
              <p class="card-text">Director:
                <% if @movie.celebrities.where(type: 'Director').empty? %>
                  No Director
                <% else %>
                  <%= @movie.celebrities.where(type: 'Director').first.name %>
                <% end %>
              </p>
              <div class="input-group">
                <span class="input-group-btn">
                  <% if @watchlisted %>
                        <button class="btn btn-secondary" type="button">Watchlisted!</button>
                  <% else %>
                        <button class="btn btn-primary" type="button" id="watchlist-movie-btn">Watchlist it!</button>
                  <% end %>
                </span>
              </div>
              <p class="card-text">
                <div class="fb-share-button"
                     data-href="<%= request.url %>"
                     data-layout="button_count">
                </div>
              </p>
            </div>
          </div>

        </div>
        <div class="card-footer text-muted">
          Posted on <%= @movie.created_at.strftime('%b, %d %Y') %>
        </div>
      </div>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <br>
      <br>
      <br>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Rating</h5>
        <div class="card-body">
          <div class="text-center">
            <h1><p id="rate-value"></p></h1>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Actors</h5>
        <div class="card-body">
          <%= @movie.celebrities.where(type: 'Actor').map(&:name).join(', ') %>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Review</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <ul class="list-unstyled mb-0">
                <li>
                  <div class="input-group">
                    <input type="number" min="1" max="5" class="form-control" placeholder="Enter from 1 to 5" id="review-movie-input">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button" id="review-movie-btn">Rate it!</button>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
  </div>
  <!-- /.container -->
</footer>

<script>
    $(document).ready(function() {
        $('#watchlist-movie-btn').click(function() {
            send_ajax_request("post", "script", "<%= movie_watchlist_it_path(@movie.id) %>", { authenticity_token: window._token },
                function (response) {
                    $('#watchlist-movie-btn').text('Watchlisted!');
                    $('#watchlist-movie-btn').removeClass('btn-primary');
                    $('#watchlist-movie-btn').addClass('btn-secondary');
                    $('#watchlist-movie-btn').attr('disabled', 'disabled');
                })
        });

        $('#review-movie-btn').click(function () {
           var rate_value = $('#review-movie-input').val();
           if (valid_rate(rate_value)) {
               send_ajax_request("post",
                                 "json",
                                 "<%= movie_add_review_path(@movie.id) %>",
                                 { rate: rate_value, authenticity_token: window._token },
                                 function (response) {
                                     $('#review-movie-btn').attr('disabled', 'disabled');
                                     $('#review-movie-input').attr('disabled', 'disabled');
                                     $('#rate-value').text(response['score'] + " / 5");
                                 })
           } else {
               $('#review-movie-input').val('');
           }
        });

        (function() {
            send_ajax_request("get", "json", "<%= movie_rating_info_path(@movie.id) %>", {}, function(response) {
                $('#rate-value').text(response['score'] + " / 5");
            })
        })();

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function valid_rate(value) {
           return value == '1' || value == '2' || value == '3'|| value == '4'|| value == '5';
        }

        function send_ajax_request(method, data_type, url, data, success) {
            $.ajax({
                url: url,
                type: method,
                data: data,
                dataType: data_type,
                success: success,
                error: function (xhr) {
                }
            });
        }
    });
</script>
