<!DOCTYPE html>
<html>
  <head>
    <title>MoviesPlatform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- , 'data-turbolinks-track': 'reload' -->
  </head>

  <body>
    <% unless current_user %>
        <% form_for(:user, :url => session_path(:user)) do |f| %>
          <% f.text_field :email %>
          <% f.password_field :password %>
          <% f.submit 'Sign in' %>
        <% end %>
      <% else %>
        <%= current_user[:name] %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
